<!--
Name: Alicia Buehner, Evan Wheeler
Date: TODO: fill in due date
Description: This file contains the html structures for the third form of registration
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Roboto&display=swap" rel="stylesheet">
    <title>HeroHub | Heroes</title>
</head>
<body>
    <!-- Start of Side Navbar Content ------------------------------------------->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar herohub-nav">
                <div class="sidebar-sticky">
                    <h2>HeroHub</h2>
                    <div class="navpush">
                        <hr>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="./"><strong>Homepage</strong></a>
                            </li>
                            <li class="nav-item">
                                <a href="register"><strong>Account Details</strong></a>
                            </li>
                            <li class="nav-item">
                                <a href="preferences"><strong>Playstyle Preferences</strong></a>
                            </li>
                            <li class="nav-item active">
                                <a href="heroes"><strong>Hero Preferences</strong></a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </nav>
            <!-- Start of Main Body Content ------------------------------------------->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-4 mainbody" role="main">
                <br>
                <h1 class="text-center">HERO PREFERENCES</h1>
                <hr>
                <!--TODO: change back to # POST this form, changed to style summary page -->
                <form action="summary" method="post">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="form-group">
                                <label for="leader"><strong>Leadership</strong></label>
                                <div class="row">
                                    <div class="col">
                                        <span>Leader</span>
                                    </div>
                                    <div class="col text-center">
                                        <span>Preference Even</span>
                                    </div>
                                    <div class="col text-right">
                                        <span>Follower</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control-range" name="leader" id="leader" type="range" min="1" max="5">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="role"><strong>Role Priority</strong></label>
                                <div class="row">
                                    <div class="col">
                                        <span>Healer</span>
                                    </div>
                                    <div class="col text-center">
                                        <span>Tank</span>
                                    </div>
                                    <div class="col text-right">
                                        <span>Damage</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- TODO: should this range be 1-3 or 1-5? -->
                                        <input class="form-control-range" name="role" id="role" type="range" min="1" max="3">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="preferredchar1"><strong>Preferred Character</strong></label>
                                <select class="form-control text-center" name="preferredchar1" id="preferredchar1">
                                    <!-- TODO: fill in roster -->
                                    <option selected disabled>Select First Choice</option>
                                    <option value="">Need to fill in roster</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="preferredchar2"></label>
                                <select class="form-control text-center" name="preferredchar2" id="preferredchar2">
                                    <!-- TODO: fill in roster -->
                                    <option selected disabled>Select Second Choice</option>
                                    <option value="">Need to fill in roster</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="preferredchar3"></label>
                                <select class="form-control text-center" name="preferredchar3" id="preferredchar3">
                                    <!-- TODO: fill in roster -->
                                    <option selected disabled>Select Third Choice</option>
                                    <option value="">Need to fill in roster</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4 text-center">
                            <input class="btn-lg btn-primary btn-block" type="submit" value="Submit Registration">
                        </div>
                        <div class="col-4"></div>
                    </div>
                </form>
                <footer class="footer mt-auto py-3">
                    <div class="row">
                        <div class="col">
                            <hr>
                            <span class="text-muted"> This is some footer text. &copy;Copyright and usage text goes here...</span>
                        </div>
                    </div>
                </footer>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>