<!--
Name: Alicia Buehner, Evan Wheeler
Date: TODO: fill in due date
Description: This file contains the html structures for the second form of registration
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Hero Hub | Preferences</title>
</head>
<body>

<div class="row">
    <div class="col-lg-3">
        <ul id="herohub-nav">
            <li>
                <a href="register">Account details</a>
            </li>
            <li>
                <a href="preferences">General preferences</a>
            </li>
            <li>
                <a href="heroes">Hero preferences</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-8">
        <h1>Blah Blah Form</h1>
        <!--TODO: Change form to be sticky and VALIDATE, post to self-->
        <form action="heroes" method="post">
            <label>Select the region you play in:
                <select name="region">
                    <option value="America">America</option>
                    <option value="Europe">Europe</option>
                    <option value="Asia">Asia</option>
                </select>
            </label><br>
            <label>
                Follower <input name="leader" type="range" min="1" max="5"> Leader
            </label><br>
            <input type="submit" value="Next">
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>