<!--
Name: Alicia Buehner, Evan Wheeler
Date: TODO: fill in due date
Description: This file contains the html structures for the first form of registration
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Roboto&display=swap" rel="stylesheet">
    <title>HeroHub | Registration</title>
</head>
<body>
<!-- Start of Side Navbar Content ------------------------------------------->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar herohub-nav">
                <div class="sidebar-sticky">
                    <h2>HeroHub</h2>
                    <div class="navpush">
                        <hr>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="./"><strong>Homepage</strong></a>
                            </li>
                            <li class="nav-item active">
                                <a href="register"><strong>Account Details</strong></a>
                            </li>
                            <li class="nav-item">
                                <a href="preferences"><strong>Playstyle Preferences</strong></a>
                            </li>
                            <li class="nav-item">
                                <a href="heroes"><strong>Hero Preferences</strong></a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </nav>

            <!-- Start of Main Body Content ------------------------------------------->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-4 mainbody" role="main">
                <br>
                <h1 class="text-center">ACCOUNT DETAILS</h1>
                <hr>
                <!--TODO: Change form to be sticky and VALIDATE, post to self-->
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="form-group">
                                <label for="platform"><strong>Game Platform</strong></label>
                                <select class="form-control text-center" name="platform" id="platform">
                                    <option selected disabled>Select One</option>
                                    <repeat group="{{ @platforms }}" value="{{ @platformOption }}">
                                        <option
                                        <check if="{{ @platform == @platformOption }}">
                                            selected
                                        </check>
                                        >{{ @platformOption }}</option>
                                    </repeat>
                                </select>
                                <check if="{{ @errors['platform'] }}">
                                    <small id="platformHelp" class="text-danger">{{ @errors['platform'] }}</small>
                                </check>
                            </div>
                            <div class="form-group">
                                <label for="email"><strong>Email</strong></label>
                                <input class="form-control" type="email" name="email" id="email">
                                <check if="{{ @errors['email'] }}">
                                    <small id="emailHelp" class="text-danger">{{ @errors['email'] }}</small>
                                </check>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label for="password"><strong>Password</strong></label>
                                        <input class="form-control" type="password" name="password" id="password">
                                        <check if="{{ @errors['password'] }}">
                                            <small id="passwordHelp" class="text-danger">{{ @errors['password'] }}</small>
                                        </check>
                                    </div>
                                    <div class="col">
                                        <label for="password2"><strong>Confirm Password</strong></label>
                                        <input class="form-control" type="password" name="password2" id="password2">
                                        <check if="{{ @errors['password2'] }}">
                                            <small id="password2Help" class="text-danger">{{ @errors['password2'] }}</small>
                                        </check>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8 text-center">
                                    <small id="passwordHelp" class="form-text">
                                        Your password must be 8-20 characters long, contain letters and numbers.
                                        Cannot contain spaces or special characters
                                    </small>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4 text-center">
                            <input class="btn-lg btn-primary btn-block" type="submit" value="Next">
                        </div>
                        <div class="col-4"></div>
                    </div>
                </form>
                <footer class="footer mt-auto py-3">
                    <div class="row">
                        <div class="col">
                            <hr>
                            <span class="text-muted">This is some footer text. &copy;Copyright and usage text goes here...</span>
                        </div>
                    </div>
                </footer>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>