<!--
Name: Alicia Buehner, Evan Wheeler
Date: TODO: fill in due date
Description: This file contains the html structures for the first form of registration
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Hero Hub | Register</title>
</head>
<body>

<div class="row">
    <div class="col-lg-3">
        <ul id="herohub-nav">
            <li>
                <a href="account">Account details</a>
            </li>
            <li>
                <a href="preferences">General preferences</a>
            </li>
            <li>
                <a href="heroes">Hero preferences</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-8">
        <h1>Blah Blah Form</h1>
        <!--TODO: Change form to be sticky and VALIDATE, post to self-->
        <form action="preferences" method="post">
            <label>Username: <input type="text" name="username"></label><br>
            <label>Email: <input type="email" name="email"></label><br>
            <label>Password: <input type="password" name="password"></label><br>
            <label>Confirm Password: <input type="password" name="confirm-password"></label><br>

            <!--TODO: Consider making the location control something other than "text"-->
            <label>Location: <input type="text" name="location"></label>
            <input type="submit" value="Next">
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>