<!--
Name: Alicia Buehner, Evan Wheeler
Date: TODO: fill in due date
Description: This file contains the html structures for the first form of registration
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Hero Hub | Homepage</title>
</head>
<body>

<div class="row">
    <div class="col-lg-3">
        <ul id="herohub-nav">
            <li>
                <a href="account">Account details</a>
            </li>
            <li>
                <a href="hero-prefs">Hero preferences</a>
            </li>
            <li>
                <a href="other-prefs">Other preferences</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-8">
        <h1>Blah Blah Form</h1>
        <!--TODO: Change form to be sticky-->
        <form action="/preferences.php" method="post">
            <label>Username: <input type="text" name="username"></label><br>
            <label>Email: <input type="email" name="email"></label><br>
            <label>Password: <input type="password" name="password"></label><br>
            <label>Confirm Password: <input type="password" name="confirm-password"></label><br>

            <!--TODO: Consider making the location control something other than "text"-->
            <label>Location: <input type="text" name="location"></label>
            <input type="submit" value="Next">
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>