/*
 * Name: Alicia Buehner, Evan Wheeler
 * Date: TODO: fill in due date
 * Description: This file contains the css structures for the...
 */

:root {
    --navcolor: #2f2f2f;
    --linkcolor: #218ffe;

    /*--navcolor2: #2f2f2f;*/
    /*--linkcolor2: #6fafff;*/
}

#herohub-nav {
    list-style-type: none;
    background-color: var(--navcolor);
    color: var(--linkcolor);
}

#herohub-nav li {

}

#herohub-nav li:hover {
    background-color: var(--linkcolor);
    color: var(--navcolor);
}
